body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #092e20;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
header h1 {
    margin: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    opacity: 0.8;
}