<div class="footer">
    <div class="footer-content">
        <h2>Contact Me</h2>
        <p>Email: <a href="mailto:example@email.com">rlaehrjs03@gmail.com</a></p>
        <div class="social-links">
            <a href="https://github.com/weaseleyegun" target="_blank" class="social-icon github">GitHub: weaseleygun</a>
            <a href="https://linkedin.com" target="_blank" class="social-icon linkedin">LinkedIn</a>
            <a href="https://www.facebook.com/gimdogeon.8074/" target="_blank" class="social-icon twitter">FaceBook: 김도건</a>
        </div>
        <p class="copyright">&copy; 2025 KIMDOGEON. All rights reserved.</p>
    </div>
</div>